strict-peer-dependencies=false
auto-install-peers=true
public-hoist-pattern[]=*electron*
public-hoist-pattern[]=*builder*
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=cpu-features
onlyBuiltDependencies[]=electron-winstaller
onlyBuiltDependencies[]=ssh2
